.desc {
  display: flex;
  flex-direction: column;
  width: 135px;
  margin: 0;
  padding-bottom: 212px;
  line-height: 16px;
  color: rgb(102, 102, 102);

  &--high {
    padding-bottom: 196px;
  }

  &--disabled {
    opacity: 0.5;
  }
}
