
  .footer {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
  }

  .footer__item {
    text-align: center;

    &--default {
      //display: none;
      content: "";
      position: absolute;
      display: flex;
      width: 300px;
      justify-content: flex-start;
      color: #ffffff;
    }

    &--selected {
    //  display: block;
      display: none;
      width: 300px;
      content: "";
      position: absolute;
      top: 0;
      color: #ffffff;
    }

    &--disabled {
      //display: block;
      display: none;
      width: 280px;
      content: "";
      position: absolute;
      left: 15px;
      color: #ffff66;
    }
  }

  .footer__text {
    margin-right: 3px;
  }

  .footer__link {
    display: block;
    width: 40px;
    position: relative;
    color: #1698d9;
    text-decoration: none;
    border-bottom: 1px dashed #1698d9;
  }


@media (min-width: 1280px) {
  .footer {
    width: 320px;
    font-size: 13px;
    line-height: 16px;
  }

  .footer__item {

    &--default {
      width: 212px;
      //display: none;
      left: 50px;
    }

    &--selected {
      //display: block;
      width: 320px;
      display: none;
    }

    &--disabled {
      //display: block;
      width: 190px;
      display: none;
      left: -5px;

    }
  }

  .footer__text {
    margin-right: 3px;
  }

  .footer__link {
    width: 27px;
  }
}
