.param {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 81px;
  height: 68px;
  margin: 0;
  margin-left: 156px;
  padding-top: 13px;

  color: #ffffff;
  text-align: center;
  background-color: #1698d9;
  border-radius: 50%;

  &--hover {
    background-color: #2ea8e6;
  }

  &--selected {
    background-color: #d91667;
  }

  &--selected-hover {
    background-color: #e62e7a;
  }

  &--disabled {
    background-color: #b3b3b3;
  }
}

.param__value {
  margin-bottom: 5px;
  font-size: 42px;
  line-height: 22px;
}

.param__text {
  font-size: 21px;
}

@media (min-width: 768px) {
  .param {
    margin-left: 176px;
  }
}
