@media (min-width: 1280px) {
  .param {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 81px;
    height: 68px;
    padding-top: 13px;
    color: #ffffff;
    text-align: center;
    background-color: #1698d9;
    border-radius: 50%;
  }

 .param__value {
   margin-bottom: 5px;
   font-size: 42px;
   line-height: 22px;
  }

  .param__text {
    font-size: 21px;
  }
}
