@media (min-width: 1280px) {
  .products {
    width: 1280px;
    margin: 0 auto;
  }

  .products__subtitle {
    display: block;
    font-family: "Exo 2.0 Thin";
    font-size: 36px;
    color: #ffffff;
    margin: 42px auto 30px auto;
    text-align: center;
  }

  .products__wrapper {
    width: 1205px;
    margin: 0 auto;
    padding-left: 85px;
  }

  .products__list {
    width: 1200px;
    margin: 0;
    margin-left: -85px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
  }

  .products__item {
    margin-left: 90px;

    &:first-child,
    &:nth-child(4n) {
      margin-left: 85px;
    }
  }
}
