@font-face {
  font-family: "Exo 2.0 Thin";
  src: url("../fonts/Exo2.0-Thin.otf") format("opentype");
}

html,
body {
  min-width: 320px;
  font-family: "Exo 2.0 Thin", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;

  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@import "comment";
@import "container";
@import "desc";
@import "footer";
@import "param";
@import "product";
@import "products";
@import "visually-hidden";
